.container {
    margin-top: 5%;
    margin-bottom: 5%;
}
@media(max-width: 951px) {
    .container {
        padding: 8px;
    }
}
.text-center {
    text-align: center;
}

.text-alert {
    color: #e31c3d;
}

.usa-alert-success {
    background-color: #2e8540;
}

.text-highlight {
    color: #FFB550;
}

.btn-green,
.btn-green:focus,
.btn-green:active {
    background-color: #2e8540;
    color: white;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
}

.padding {
    padding: 8px;
}

.usa-header, .usa-nav {
    background-color: #112e51;
}

.usa-logo a, .usa-nav-primary > li > a {
    color: white;
}

.usa-nav-primary a:hover {
    color: #FFB550;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.help-text {
    font-size: 1.2rem;
}