<ion-header>
  <ion-toolbar primary-darkest>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button (click)="openRecognitionCreate()">
        Give Recognition
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="activity" padding>
  <ion-list>
    <ion-list-header>{{getViewTitle()}}</ion-list-header>
    <ion-item *ngIf="!loading && recognitions.length === 0">
      <p gray-light>No activity to display</p>
    </ion-item>
    <div class="text-center padding">
      <ion-spinner *ngIf="loading"></ion-spinner>
    </div>
    <div *ngFor="let item of recognitions | orderBy : 'timestamp' : false">
      <ion-item text-wrap>
        <ion-avatar item-left>
          <img [src]="item.getIcon()">
        </ion-avatar>
        <h2 *ngIf="item.getFromUser() && item.getToUser()">
          {{item.getFromUser().getFirstName()}} {{item.getFromUser().getLastName()}}
          gave
          {{item.getToUser().getFirstName()}} {{item.getToUser().getLastName()}}
          recognition
          <span *ngIf="item.getType()">for #{{item.getType().toLowerCase()}}</span>
        </h2>
        <p *ngIf="item.getComment()">"{{item.getComment()}}"</p>
        <small>{{item.getCreatedAt() | amTimeAgo}}</small>
      </ion-item>
      <!-- removing comments list, leaving example impl -->
      <!--<ion-list class="comments-list">-->
        <!--<ion-item class="comment-item" text-wrap *ngFor="let n of [1, 2, 3, 4, 5]">-->
          <!--<ion-avatar item-left>-->
            <!--<img [src]="'https://api.adorable.io/avatars/face/eyes' + n + '/nose' + n + '/mouth' + n + '/f1f1f1'">-->
          <!--</ion-avatar>-->
          <!--<h4>Mike Judge</h4>-->
          <!--<p>blah blah blah</p>-->
        <!--</ion-item>-->
        <!--<ion-item class="comment-item">-->
          <!--<ion-avatar item-left>-->
            <!--<img src="https://api.adorable.io/avatars/90/abott@adorable.png">-->
          <!--</ion-avatar>-->
          <!--<ion-input placeholder="Write a comment..."></ion-input>-->
        <!--</ion-item>-->
      <!--</ion-list>-->
    </div>
  </ion-list>
</ion-content>
