<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Give Recognition</ion-title>
    <ion-buttons end>
      <button (click)="save()" primary [disabled]="!recognitionUser.getId() || !recognitionType">
        Add
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="recognition-create">
  <ion-list radio-group [(ngModel)]="recognitionType">
    <ion-item>
      <ion-label>Select a colleague...</ion-label>
      <ion-select [(ngModel)]="recognitionUser">
        <ion-option [value]="user" *ngFor="let user of users">{{user.getFirstName()}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let type of recognitionTypes">
      <ion-avatar item-left>
        <img [src]="getIcon(type)">
      </ion-avatar>
      <ion-label>#{{type}}</ion-label>
      <ion-radio [value]="type"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Write a comment..." [(ngModel)]="recognitionComment"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
