<header class="usa-header" role="banner">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <button class="usa-menu-btn">Menu</button>
            <div class="usa-logo" id="logo">
                <em class="usa-logo-text">
                    <a href="/" accesskey="1" title="Home" aria-label="Home">Flash Challenge<br>&nbsp;Exercise</a>
                </em>
            </div>
        </div>
        <nav role="navigation" class="usa-nav">
            <button class="usa-nav-close">
                <img src="/assets/img/close.svg" alt="close">
            </button>
            <ul class="usa-nav-primary usa-accordion">
                <li *ngFor="let p of pages">
                    <a class="usa-nav-link" (click)="openPage(p)" href="javascript:">
                        <span>{{p.title}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="usa-nav-container container">
    <h2>Give a Point</h2>
    <div class="usa-alert usa-alert-success" *ngIf="successAlertShown">
        <div class="usa-alert-body">
            <h3 class="usa-alert-heading">Success</h3>
            <p class="usa-alert-text">Successfully submitted recognition.</p>
        </div>
    </div>
    <p class="text-alert">{{errorMsg}}</p>
    <form class="usa-form" (ngSubmit)="save()">
        <label for="colleague-select">Select a colleague to give a point to...</label>
        <select [(ngModel)]="recognitionUser" [ngModelOptions]="{standalone: true}" id="colleague-select"
                name="colleague-select">
            <option *ngFor="let user of users" [value]="user.getId()" [disabled]="!user.canReceiveRecognition()">
                {{user.getFirstName()}} {{user.getLastName()}}
            </option>
        </select>
        <br>
        <fieldset class="usa-fieldset-inputs usa-sans">
            <label for="colleague-select">Select recognition category...</label>
            <br>
            <ul class="usa-unstyled-list">
                <li *ngFor="let type of recognitionTypes">
                    <input [id]="type" type="radio" [name]="type" [value]="type"
                           [(ngModel)]="recognitionType">
                    <label>{{type | lowercase | capitalize}}</label>
                </li>
            </ul>
        </fieldset>
        <label for="recognition-comment">Write a comment</label>
        <textarea id="recognition-comment" name="recognition-comment" [(ngModel)]="recognitionComment"></textarea>
        <button type="submit" [disabled]="!recognitionUser">Submit</button>
    </form>
</div>